<div id='package_div'>
  <%=link_to (image_tag ('entry/package_highlight.png'), id: 'package_highlight'), stoop_path if true%> <!-- use the conditional to test if the user has already collected the package -->
  <%=image_tag ('entry/package.png'), id: 'package' if true%> <!-- use the conditional to test if the user has already collected the package -->
</div>

<%=image_tag ('entry/entryway.jpg'), id: 'entry'%>