<div id='laptop_hover'>
</div>

<div id='key_hover'>
</div>

<%=image_tag ('entry/stoop.png'), id: 'stoop' if true%>
<%=image_tag ('entry/stoop_laptop_highlight.png'), id: 'stoop_laptop_highlight' if true%>
<%=image_tag ('entry/stoop_key.png'), id: 'stoop_key' if true%>
<%=image_tag ('entry/stoop_key_hightlight.png'), id: 'stoop_key_highlight' if true%>