// Place all the styles related to the FirstFloor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#entry {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  z-index: -1;
}

#package_div {
  position: absolute;
  left: 34%;
  bottom: 9%;
  z-index: 1;
}

#package, #package_highlight {
  max-width: 165px;
}

#package_highlight {
  display: none;
}

#noteondoor_div {
  position: absolute;
  left: 49%;
  bottom: 50%;
  z-index: 1;
}

#noteondoor, #noteondoor_highlight {
  max-width: 70px;
}

#noteondoor_highlight {
  display: none;
}

#stoop {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

#foyer {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

#foyer_1024{
  display: none;
}

@media (min-width:769px) and (max-width:1024px){
  #foyer_1024{
    display: block;
  }
  #foyer_default{
    display: none;
  }
}
/*tablet*/
@media (min-device-width:769px) and (max-device-width:1024px){
  #foyer_1024{
    display: block;
  }
  #foyer_default{
    display: none;
  }
}