#home_back_light, #home_back_mid, #home_back_dim, 
#home_left, #home_right, #train_lights_on{
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  z-index: 1;
  display: none;
}

#home_back {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  z-index: -1;
}

#home_empty {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  z-index: -2;
}

@keyframes banner_slide {
    0%   {margin-right: -500px;}
    52%  {margin-right: -500px;}
    100% {margin-right: 0px;}
}

#home_banner{
  position: absolute;
  right: 0px;
  top: 50px;
  width: 480px;
  height: 60px;
  z-index: 2;
  background-color: red;
  animation-name: banner_slide;
  animation-duration: 8s;
}

#banner_head{
  font-family: 'DIN bold';
  display:inline;
  -letter-kern: 1px 0 0 1px 1px
                  1px 2px 1px 0 0px
                  1px 1px 0;
  -word-color: #000 #ffffff;
}

#banner_type{
  position: relative;
  left: 28px;
  top: 12px;
}

#home_nav {
  position: relative;
  left: 8px;
  font-size: .8em;
}

#train_lights_button {
  position: fixed;
  top:33%;
  left:23%;
  width: 300px;
  height: 250px;
  z-index: 2;
}