// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "DIN bold";
  src: asset-url('/assets/din1451alt_G.ttf') format("truetype");
}

@font-face {
  font-family: "DIN";
  src: asset-url('/assets/din1451alt.ttf') format("truetype");
}

h1 {
  font-family: 'DIN';
}

a {
  font-family: 'DIN';
  text-decoration: underline;
}