#stoop {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

#stoop_key {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  display: none;
}

#stoop_key_highlight {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  display: none;
}

#key_hover {
  position: absolute;
  top: 47%;
  left: 23%;
  width: 22%;
  height: 22%;
  display: none;
}

#stoop_laptop_highlight {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  z-index: 2;
  display: none;
}

#laptop_hover {
  position: absolute;
  top: 35%;
  left: 23%;
  width: 33%;
  height: 50%;
  z-index: 3;
}